@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');

div.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F7FFDD;
    border-bottom: solid 1px #D0E3CC;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: nowrap;
    z-index: 3;
}
div.navigation{
    font-size: 1rem;
    display: inline-flex;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
    color:black;
}

a:visited{
    color:black;
}

button.nav{
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
    border: 1px solid #F7FFDD;
    background-color: #F7FFDD;
    padding: 0.5rem;
}
button.nav:hover{
    background-color: #D0E3CC;
}
img.logo {
    width: 5%;
    top: 1;
    background-color: #F7FFDD;
    text-align: center;
    display: block;
    width: 70%;
    margin: auto;
    z-index: 3;
}
div.logo-container{
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 0.5rem;
}

body{
    font-family: 'Arimo', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #fcfdaf;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Bokeh-Field-Mt-Falcon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #dba159;
    border-radius: 10px;
    opacity: 80%;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: F7FFDD;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
    background: #2691d9;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #fcfdaf;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #d0e3cc;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #fcfdaf;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #d0e3cc;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #d0e3cc;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}
