<!DOCTYPE html>
<html>
    <head>
        <title>Profile | Petopia</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/profile.css">
        <link rel="icon" type="image/png" href="../static/Images/paw.png">
    </head>
    <body>
        <div class="navbar">
            <div class="navigation">
                <button class="nav"><a href="/createpost">Create New Post</a></button>
                <div class="logo-container">
                    <a href="/">
                    <img src="Images/petopia.png" alt="Logo" class="logo">
                    </a>
                </div>
                <button class="nav"><a href="/userprofile">Account</a></button>
            </div>
        </div>
        <div class="wrapper">
            <div class="left">
                <img class="userpic" src="Images/def_avatar.png" alt="user" width="100">
                <h4>Thomas Anderson</h4>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Information</h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>Email</h4>
                            <p>thomastheone1999@gmail.com</p>
                        </div>
                        <div class="data">
                            <h4>Phone</h4>
                            <p>1234567890</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </body>
</html>