@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap');


:root {
    color: black;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 1.4rem;
    line-height: 18px;
}


body{
    font-family: 'Cairo', sans-serif;
    padding-top: 50px;
}
h1 {
    font-weight: bold; 
    font-size: 1.75rem; 
}

h2 {
    font-weight: light;
    font-size: 1.25rem; 
    line-height: 1.4em;
}

p1 {
    font-family: 'Cairo', sans-serif;
    font-weight: lighter;
    font-size: 20px ; 
    line-height: 1.4em;
}
p2{
    font-family: 'Cairo', sans-serif;
    font-weight: normal;
    font-size: 20px ; 
    line-height: 1.4em;
}
p3{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 20px ; 
    line-height: 1.4em;
}

img.dogs {
  width: 100%;
  height: 75%;
  text-align: top; 
}

img.logo {
  display: inline-flex;
  width: 50%;
  top: 0;
  background-color: #d9d9d9;
  padding: 0.5rem;
}

button.caption{
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: normal;
    font-size: 15px;
    border-style: solid;
    border-width: 3px;
    height: auto;
    width: 100%;
    background-color: #FFFDD0;
    padding: 10px;

}

div.logo-container{
    width: fit-content;
    height: fit-content;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

div.logo:hover{
    background-image:url(Images/petopia_hover.png) ;
}

div.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d9d9d9;
    border-bottom: solid 1px rgb(93, 93, 93);
    box-sizing: border-box;
    display: flex;
    z-index: 3;
}


div.post {
    margin: 20px auto 0;
    margin-top: 20px; 
    background-color: white;
    width: 300px; 
    height: 300px; /* Adjust the height to match the desired square size */
    padding: 20px; 
    border-radius: 5px; 
    display: flex; 
    flex-wrap:wrap;
    margin-right: 10px;
}

div.navigation{
    font-size: 1rem;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}


button.send{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    width: 15rem;
    height: 2rem;
    font-size: 0.875rem;
    border: 1px solid #d9d9d9;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 0;
}

button.send:hover{
    background-color: white;
    color: black;
    outline: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

button.nav{
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
    float: left;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    padding: 0.5rem;
}

button.nav:hover{
    background-color: rgba(149, 149, 149, 0.5);
}

div.container {
  margin: 0 auto; 
  margin-top: 10px; 
  background-color: #dba159;
  width: 80%; 
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
  
}

div.container > div { 
  position: relative; /* Add position relative */
  z-index: 1;
}



