<!DOCTYPE html>
<html>
    <head>
        <title>Login | Petopia</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../login.css">
        <link rel="icon" type="image/png" href="../Login/Images/paw.png">
    </head>
    <body>
        <div class="navbar">
            <div class="navigation">
                <button class="nav"><a href="../CreatePost/createpost.html">Create New Post</a></button>
                <div class="logo-container"> 
                    <a href="../Homepage/index.html">
                    <img src="../Login/Images/petopia.png" alt="Logo" class="logo">
                    </a>
                </div>
                <button class="nav"><a href="../User Profile/userprofile.html">Account</a></button>
            </div>
        </div>
        <div class="center">
            <h1>Login</h1>
            <form action="/login" method="post">
                <div class="txt_field">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="pass">Forgot Password?</div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a member? <a href="/register">Signup</a>
                </div>
            </form>
        </div>
    </body>
</html>