<html>
    <head>
        <title> Register | Petopia </title>
        <link rel="stylesheet" type="text/css" media="all" href= "../css/register.css">
        <link rel="icon" type="image/png" href="../Images/paw.png">
    </head>
    
    <body>
        <div class="logodiv">
            <a href="/home">
            <img src="../Images/petopia.png">
            </a>
        </div>
      

        <div style="height:50px"></div>
        <form action="/register" method="POST">
            <div class="regdiv">
                <div class="regnow">
                        <h1 style="height: 50px;">Register Now</h1>
                </div>
                <input type="text" name="email" placeholder="Enter Email">
                <br>
                <input type="text" name="username" placeholder="Enter Username">
                <br>
                <input type="password" name="password" placeholder="Enter Password">
                <br><br>
                <input type="submit" value="Register">
                <p>Already have an account? <a href="/login">Log in</a></p>
            </div>
        </form>
    </body>
</html>